/*Left Navigation upper color*/
div.wy-side-nav-search {
	background-color: #1E4E8A;
}

/*Minimized Navigation upper color*/
div.wy-nav-top {
	background-color: #1E4E8A !important;
}

/*Expand the body of the text to be full screen.*/
.wy-nav-content {
    max-width: none !important;
}

/**/
.toggle .header {
   display: block;
   clear: both;
}

.toggle .header:after {
   content: " ▶"; /* U+25B6 */
}

.toggle .header.open:after {
   content: " ▼"; /* U+25BC */
}

div.toggle {
   margin-bottom: 24px;
}

div.topic {
    border: 1px solid;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
}

.lpad2 {
    padding-left: 2em;
}

.lpad4 {
    padding-left: 4em;
}

.lpad6 {
    padding-left: 6em;
}

.italic {
   font-style: italic;
}

.bold {
   font-weight: bold;
}

.red {
   color: red;
}

/* Text will wrap when necessary, and on line breaks */
div[class^='highlight'] pre {
    white-space: pre-wrap !important;
}

.rst-content code {
    white-space: pre-wrap !important;
}

/* from http://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* option to increase text size in tables
table.docutils td {
   font-size: 100% !important;
}

table.docutils th {
   font-size: 100% !important;
}
*/

.figure img {
	-webkit-box-shadow: 0 8px 22px -6px black !important;
	-moz-box-shadow: 0 8px 22px -6px black !important;
	box-shadow: 0 8px 22px -6px black !important; 
}

.image-reference img {
	-webkit-box-shadow: 0 8px 22px -6px black !important;
	-moz-box-shadow: 0 8px 22px -6px black !important;
	box-shadow: 0 8px 22px -6px black !important; 
}